@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #f5f5f5;
}

::-moz-selection {
  color: var(--primary-text);
  background: #ffffff31;
}

::selection {
  color: var(--primary-text);
  background: #ffffff31;
}
